body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: whitesmoke;
    overflow-y: hidden;
}
.nav-bar{
    background-color: black;
    width: 173px;
    border-radius: 0 15px 15px 0;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2); /* Thank you Dennise, for the box shadow code! */
}
.nav-item, .nav-item-dropdown, .dropdown-content{
    margin-left: 5%;
}
.nav-item, .nav-item-dropdown, .dropdown-content{
    font-family:"Consolas", monospace;
    font-size: xx-large;
    text-decoration: none;
    color: whitesmoke;
}
.nav-item-dropdown{
    list-style-type: none;
}
.dropdown-menu{
    display: grid;
}
.dropdown-content{
    animation: open .5s ease-in-out;
}
.nav-bar li a:hover, .nav-item-dropdown:hover, .dropdown-content:hover{
    color: gray;
    transition: all 250ms ease;
}
.big-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 0.5%;
    overflow-y: scroll;
}
img{
    height: 50vh;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2); /* Thank you Dennise, for the box shadow code! */
}
img:hover{
    transform: scale(1.05);
    transition: all ease 400ms;
}
@keyframes open{
    0% {opacity: 0;}
    100% {opacity: 1;}
}