body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: whitesmoke;
    overflow-y: hidden;
}
.nav-bar{
    background-color: black;
    width: 173px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2); /* Thank you Dennise, for the box shadow code! */
}
.nav-bar ul {
    margin: 0;
    padding: 0;
}
.nav-bar li, .dropdown-content{
    margin-left: 5%;
}
.nav-bar li a, .dropdown, .dropdown-content{
    font-family:"Consolas", monospace;
    font-size: xx-large;
    text-decoration: none;
    color: whitesmoke;
}
.dropdown{
    list-style-type: none;
    margin-left: 5%;
}
.dropdown-content{
    font-size: x-large;
}
.nav-bar li a:hover, .dropdown:hover{
    color: black;
    transition: all 250ms ease;
}
.big-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 0.5%;
    overflow-y: scroll;
}
img{
    height: 50vh;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2); /* Thank you Dennise, for the box shadow code! */
}
img:hover{
    transform: scale(1.05);
    transition: all ease 400ms;
}